/*
form {
  border-radius: 0.25rem;
  background-color: var(--color-primary-light);
  padding: 1.25rem;
  max-width: 75dvw;
}

textarea,
input:not([type="button"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
input:not([type="reset"]),
select,
input:not([type="submit"]) {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  width: auto;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition: width var(--transition-duration) var(--transition-func);
}

textarea {
  height: 150px;

}

textarea:focus,
input:not([type="button"]):focus,
input:not([type="checkbox"]):focus,
input:not([type="radio"]):focus,
input:not([type="reset"]):focus,
input:not([type="submit"]):focus {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-dark);
}

textarea:invalid,
input:not([type="button"]):invalid,
input:not([type="checkbox"]):invalid,
input:not([type="radio"]):invalid,
input:not([type="reset"]):invalid,
input:not([type="submit"]):invalid {
  border-color: var(--color-error-dark);
  background-color: var(--color-error-light);
  color: var(--color-error);
}

label {
  width:150px;
  vertical-align: top;
  display: inline-block;
  padding: 0.75rem 0.75rem 0.75rem 0;
  font-weight: var(--font-weight-bold);
}

.firmform .item label {
  font-size: 16px;
  text-align: right;

  }

label:has(+ textarea:invalid)
label:has(+ input:invalid) {
  color: var(--color-error);
}

.label::after {
  content: ":";
}

.label-required::after {
  content: "*";
  vertical-align: super;
  font-size: smaller;
}

.form-row {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.error-message {
  color: var(--color-error);
  grid-column-start: 2;
  padding-left: 1rem;
}

.error-message:empty {
  display: none;
}

.submit-row {
  margin: 1.5rem 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.hidden {display:none}
*/