nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  z-index: 99;


}

nav ul li a {
  padding: 0.25rem 0.5rem;
  color: var(--color-primary);
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

nav {
border-bottom: 1px solid black;
    margin-bottom: 14px;
   height:50px;
   position: fixed;
  top:0;
  width:100%;
  z-index:1000;
  background-color: #FFF;

}

nav ul ul {
  display: none;
  list-style-type: none;
  padding: 0;
  top: 28px;
  left: 0;
  position: absolute;
  background-color: #8bc1ee;
  color:black;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  position: relative;
  width: 150px;
}

nav ul ul li {
  margin: 0;
  width: auto;
}


@media screen and (width <= 600px) {
nav {height:auto;
  width:100vw}

nav ul {
  position:static;
  display: flex;
  width:100vw
}
}
