

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule   "^/cmd/(.*)$"  "/procedure.php?cmd=$1"
RewriteRule   "(.*)$"  "/procedure.php?cmd=$1"